#aba-2.aba.container_16
    p.titulo Escolha vídeos sem personalização
    .etapa.scroll.grid_15
        if acervo.length
                each video in acervo
                    .video.grid_4
                        div.img(style="background-image:url('/videos/"+video.thumb+"');")
                        b=video.titulo
                        p.descricao=video.descricao
                        div
                            a.btn.btn-blue(
                                data-id=video.id,
                                data-arquivo=video.arquivo,
                                onclick="exibirAcervo(this.dataset);") Exibir
                            a.btn.btn-green(
                                href="/videos/" + video.arquivo
                                download= video.arquivo) Baixar
    .clear
    p.titulo Escolha vídeos personalizados
    .etapa.scroll.grid_15
        if personalizados.length
                each video in personalizados
                    .video.grid_4
                        div.img(style="background-image:url('/videos/"+video.thumb+"');")
                        b=video.titulo
                        p.descricao=video.descricao
                        div
                            a.btn.btn-blue(
                                data-id=video.id,
                                data-arquivo=video.arquivo,
                                onclick="exibirAcervo(this.dataset);") Exibir
                            a.btn.btn-green(
                                href="/videos/" + video.arquivo
                                download= video.arquivo) Baixar
